 /* Ensure that only the .banner-img has the mask */
.banner-img {
    mask-image: linear-gradient(to top, transparent, black 90%);
    -webkit-mask-image: linear-gradient(to top, transparent, black 90%);
}
.overlay-banner{
     /* background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 53%, rgba(255,255,255,0) 100%);  */
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
    /* z-index: -1000; */
    

  }
   